<div class="header">
    <div class="header-links-wrapper">
        <ul class="header-links">
            <li class="link-selected">
                <a>Home</a>
            </li>
            <li>
                <a>Blog</a>
            </li>
            <li>
                <a>Travel Diaries</a>
            </li>
            <li>
                <a>Kid's Co</a>
            </li>
        </ul>
    </div>
</div>
