@model JaiSmi.Models.HeaderModel

<div class="header">
    <div class="header-links-wrapper">
        <ul class="header-links">
            <li class="link-selected">
                <a href="@Model.HomeUrl">Home</a>
            </li>
            <li>
                <a href="@Model.BlogUrl">Blog</a>
            </li>
            <li>
                <a href="@Model.TravelDiariesUrl">Travel Diaries</a>
            </li>
            <li>
                <a href="@Model.KidsCoUrl">Kid's Co</a>
            </li>
        </ul>
    </div>
</div>
