/* Fonts */
@font-face {
  font-family: fabfeltscript-bold;
  src: url('../fonts/FabfeltScript/fabfeltscript-bold.eot'), url('../fonts/FabfeltScript/fabfeltscript-bold.ttf') format('truetype'), url('../fonts/FabfeltScript/fabfeltscript-bold.woff');
}
@font-face {
  font-family: variane_script;
  src: url('../fonts/variane_script.ttf') format('truetype');
}
.home-description {
  line-height: 25px;
}
.home-description .home-description-content {
  font-family: fabfeltscript-bold;
  font-size: 20px;
  color: #ffffff;
  line-height: 25px;
  background: #F39643;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px 2px 0.3;
  behavior: url("/Scripts/Compatibility/PIE.htc");
  padding: 20px;
  float: none;
  margin: 0 auto;
}
.home-content-wrapper .row {
  margin-top: 25px;
}
.home-content-wrapper .row:first-child {
  margin-top: 0;
}
.home-content-wrapper .activity-wrapper {
  padding: 20px;
}
.home-content-wrapper .activity-wrapper .activity-wrapper-title {
  padding: 15px;
  background: #242d34;
  color: #ffffff;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px 2px 0.3;
  behavior: url("/Scripts/Compatibility/PIE.htc");
  margin-bottom: 20px;
  font-size: 26px;
}
.home-content-wrapper .activity-wrapper .activity-grid .activity-item {
  font-family: variane_script;
  display: inline-block;
  margin-bottom: 10px;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px 2px 0.3;
  behavior: url("/Scripts/Compatibility/PIE.htc");
}
.home-content-wrapper .activity-wrapper .activity-grid .activity-item .activity-cover-container {
  padding: 10px;
}
.home-content-wrapper .activity-wrapper .activity-grid .activity-item .activity-cover-container .activity-cover {
  max-width: 200px;
  max-height: 400px;
}
.home-content-wrapper .activity-wrapper .activity-grid .activity-item .activity-title {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  padding: 0 10px;
}
.home-content-wrapper .activity-wrapper .activity-grid .activity-item .activity-desc {
  font-size: 20px;
  line-height: 24px;
  padding: 0 10px;
  width: 200px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
@media screen and (max-width: 767px) {
  .home-content-wrapper .activity-wrapper {
    padding: 20px 0;
  }
}
.home-content-wrapper .home-tile-container {
  position: relative;
}
.home-content-wrapper .home-tile-container .about-me-description {
  margin: 10px 0;
}
.home-content-wrapper .home-tile-container .home-tile {
  position: relative;
  height: 400px;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px 2px 0.3;
  behavior: url("/Scripts/Compatibility/PIE.htc");
}
.home-content-wrapper .home-tile-container .home-tile .home-tile-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  font-size: 16px;
  background: #000000;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=calc(@value * 100))";
  /*filter: alpha(opacity=calc(@value * 100));*/
}
.home-content-wrapper .home-tile-container .travel-tile {
  background: url('/Images/Shared/travel_cover.jpg') no-repeat;
  background-size: 100% 100%;
}
.home-content-wrapper .home-tile-container .about-me-tile {
  background: url('/Images/Shared/profile_picture.jpg') no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  behavior: url("/Scripts/Compatibility/PIE.htc");
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .home-content-wrapper .home-tile-container .about-me-tile {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    behavior: url("/Scripts/Compatibility/PIE.htc");
  }
}
.home-content-wrapper .home-tile-container .photos-tile {
  background: url('/Images/Shared/photo_gallery_cover_bird_flight.jpg') no-repeat;
  background-size: 100% 100%;
}
.home-content-wrapper .home-tile-container .kids-tile {
  background: url('/Images/Shared/kids_cover_circus.jpg') no-repeat;
  background-size: 100% 100%;
}
.home-content-wrapper .home-tile-container:first-child {
  padding-left: 0;
}
.home-content-wrapper .home-tile-container:last-child {
  padding-right: 0;
}
/*# sourceMappingURL=Home.css.map */