@using System.Web.Optimization;

@{
    Layout = "~/Views/_Layout.cshtml";
}

@Styles.Render("~/Content/home")

<div class="home-content-wrapper">
    <div class="container">
        <div class="home-tile-container home-description row">
            <div class="home-description-content col-sm-6 col-xs-12">
                <div class="home-tile about-me-tile">
                </div>
                <p>
                    <p>This is the sole space in web where my thoughts, feelings, knowledge and views are shared.</p>
                    <p>
                        Its hard to explain about yourself as u know yourself so well. But then, no one else can do this part better than you.
                        Well, I should say that I'm blessed with the aura of traditional morality and the family atmosphere
                        has framed me to a conscientious and peace loving human being.
                    </p>
                    <p>
                        My greatest wish is to travel around the world, know about the different cultures
                        and to taste the variety of cuisines. And if given the liberty, I would like to spent my days reading books, imagining myself as the characters,
                        sipping coffee at intervals and eating whatever I can grab at.
                    </p>
                </p>
            </div>
        </div>
        <div class="grid">
            <div class="grid-item">

            </div>
        </div>
        @*<div class="row">
            <div class="home-tile-container col-xs-12">
                <div class="home-tile photos-tile">
                    <p class="home-tile-title">Photos</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="home-tile-container col-md-8 col-sm-12 col-xs-12">
                <div class="home-tile travel-tile">
                    <p class="home-tile-title">Travel Diaries</p>
                </div>
            </div>

            <div class="home-tile-container col-md-4 col-xs-12">
                <div class="home-tile kids-tile">
                    <p class="home-tile-title">Kid's Corner</p>
                </div>
            </div>
        </div>*@
    </div>
</div>

