@using System.Web.Optimization;
@using JaiSmi.Models;

@Styles.Render("~/content/home")

@model HomeModel

<div class="home-content-wrapper">
    <div class="container">
        <div class="home-tile-container home-description row">
            <div class="home-description-content col-sm-6 col-xs-12">
                <div class="home-tile about-me-tile">
                </div>
                <div class="about-me-description">
                    <p>This is the sole space in web where my thoughts, feelings, knowledge and views are shared.</p>
                    <p>
                        Its hard to explain about yourself as u know yourself so well. But then, no one else can do this part better than you.
                        Well, I should say that I'm blessed with the aura of traditional morality and the family atmosphere
                        has framed me to a conscientious and peace loving human being.
                    </p>
                    <p>
                        My greatest wish is to travel around the world, know about the different cultures
                        and to taste the variety of cuisines. And if given the liberty, I would like to spent my days reading books, imagining myself as the characters,
                        sipping coffee at intervals and eating whatever I can grab at.
                    </p>
                </div>
            </div>
        </div>

        <div class="activity-wrapper row">
            <div class="activity-wrapper-title">Trips</div>
            <div class="activity-grid">
                <div class="activity-item">
                    <div class="activity-cover-container">
                        <img class="activity-cover" src="~/Images/Shared/travel_cover.jpg" />
                    </div>
                    <p class="activity-title">Bison - Kabini</p>
                </div>
                <div class="activity-item">
                    <div class="activity-cover-container">
                        <img class="activity-cover" src="~/Images/Shared/delhi_srinagar_cover.jpg" />
                    </div>
                    <p class="activity-title">Delhi - Srinagar</p>
                </div>
                <div class="activity-item">
                    <div class="activity-cover-container">
                        <img class="activity-cover" src="~/Images/Shared/athirapally_cover.jpg" />
                    </div>
                    <p class="activity-title">Athirapally - Alleppey</p>
                </div>
                <div class="activity-item">
                    <div class="activity-cover-container">
                        <img class="activity-cover" src="~/Images/Shared/pichavaram_cover.jpg" />
                    </div>
                    <p class="activity-title">Pichavaram</p>
                </div>
            </div>
        </div>

        <div class="activity-wrapper row">
            <div class="activity-wrapper-title">Blog</div>
            <div class="activity-grid">
                @Html.DisplayFor(m=> m.BlogOverviews)
            </div>
        </div>
    </div>
</div>

@using (Html.BeginScriptContext())
{
    foreach (var script in BundleResolver.Current.GetBundleContents("~/bundles/home"))
    {
        Html.AddScriptFile(script);   
    }
}

