@using JaiSmi.Areas.Blog.Models;

@{
    ViewBag.Title = "Blogs";
}

@model BlogModel

@Styles.Render("~/content/blog")

<div class="blog-content-wrapper">
    <div class="container">
        <div class="row blog-post-create-btn-wrapper">
            <a href="@Model.CreateNewPostUrl" class="btn btn-primary btn-create-post">What's on your mind?</a>
        </div>
        <div class="activity-wrapper row">
            <div class="activity-grid">
                @Html.DisplayFor(m => m.BlogOverviews)
            </div>
        </div>
    </div>
</div>

@using (Html.BeginScriptContext())
{
    foreach (var script in BundleResolver.Current.GetBundleContents("~/bundles/blog"))
    {
        Html.AddScriptFile(script);
    }
}
