@using JaiSmi.Models;

@model BlogOverviewModel

<div class="activity-item">
    <a class="activity-item-link" href="@Model.Url">
        <p class="activity-title">@Model.Title</p>
        <p class="activity-desc">@Model.Content</p>
    </a>
</div>
